body {
  background: #e45349;
  display: flex;
  justify-content: center;
  height: 100vh; }

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  height: 50vh;
  border: 2px solid #f7f4e4;
  width: 75vw; }

.btnContainer {
  margin: 0 auto; }

.a {
  width: 60px;
  height: 60px;
  background: #efefff;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }

.tabBtn {
  align-self: center;
  background-color: #e45349;
  border: none;
  cursor: pointer; }

#imgButton {
  width: 60px;
  height: auto;
  outline: none; }

.demo {
  display: flex;
  flex-direction: column; }

.imgButton {
  width: auto;
  height: 40px;
  margin-right: 5px;
  outline: none; }

button:focus {
  outline: none; }

#play-pause {
  display: flex;
  justify-content: center;
  margin-top: 30px; }
