body {
  background: #e45349;
  display: flex;
  justify-content: center;
  height: 100vh; }

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  height: 50vh;
  border: 1px solid #f7f4e4;
  width: 75vw; }

.btnContainer {
  border: 1px solid #f7f4e4;
  width: 400px;
  height: 40px; }

.a {
  width: 60px;
  height: 60px;
  background: #efefff;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }

#tabBtn {
  align-self: center;
  background-color: #e45349;
  border: none;
  cursor: pointer; }

#imgButton {
  width: 60px;
  height: auto; }

.demo {
  display: flex;
  flex-direction: column; }
